<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> 编辑主机 | SshWeb</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet">
</head>

<body class="gray-bg">

	<div class="asset_add container">

		<div  align="center">
		   <h3 class="title">填写资料</h3>

			{% if error %}
			<div class="alert alert-warning text-center">{{ error }}</div>
			{% endif %}
			{% if msg %}
			<div class="alert alert-success text-center">{{ msg }}</div>
			{% endif %}
		</div>

		<form id="asset_form" method="POST">
			<div class="row">
				<label class="col-sm-3 control-label">IP地址</label>
				<div class="col-sm-7"><input class="form-control" name="ip" value="{{ asset.ip }}" placeholder="IP Address"></div>
			</div>
			<div class="row">
				<label class="col-sm-3 control-label">端口号</label>
				<div class="col-sm-7"><input class="form-control" value="{{ asset.port }}" name="port" placeholder="port">
				</div>
			</div>
			<div class="row">
				<label class="col-sm-3 control-label">主机名</label>
				<div class="col-sm-7"><input class="form-control" value="{{ asset.hostname }}" name="hostname" placeholder="hostname">
				</div>
			</div>
					
			<div class="row">
				<label class="col-sm-3 control-label">登录名</label>
				<div class="col-sm-7"><input class="form-control" value="{{ asset.username }}" name="username" placeholder="username"></div>
			</div>
			<div class="row">
				<label class="col-sm-3 control-label">密码</label>
				<div class="col-sm-7"><input class="form-control" value="{{ asset.password }}" name="password" placeholder="password"></div>
			</div>                    
			<div class="row">
				<label class="col-sm-3 control-label">密匙</label>
				<div class="col-sm-7"><input class="form-control" value="{{ asset.ssh_key }}" name="ssh_key" placeholder="ssh key"></div>
			</div>
			<div class="row">
				<label class="col-sm-3 control-label">是否激活</label>
				<div  class="col-sm-7">
					<div class="radio i-checks">
						<label> 
							<input type="radio" checked="" value="1" name="is_active">激活
						</label>
						<label>
							<input type="radio" value="0" name="is_active"> 禁用
						</label>
					</div>
				</div>
			</div>
			<div class="row">
				<label class="col-sm-3 control-label">备注</label>
				<div class="col-sm-7"><input class="form-control" value="{{ asset.comment }}" name="comment" placeholder="comment"></div>
			</div>                                        
			<div class="row">
				<div class="col-sm-3"></div>
					<div class="col-sm-7">
						<div class="btn-group pull-right">
							<button type="submit" class="btn btn-info pull-right add-btn">提交</button>
						</div>
						<div class="btn-group pull-left">
							<button type="reset" class="btn btn-warning">重置</button>
						</div>
					</div>
			</div>
		</form>

	</div>
    <script src="/static/js/jquery-2.1.1.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <script>
       $('#asset_form').validator({
        timely: 2,
        theme: "yellow_right_effect",
        rules: {
            check_ip: [/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])(\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])){3}$/, 'ip地址不正确'],
            check_port: [/^\d{1,5}$/, '端口号不正确'],
        },
        fields: {
            "ip": {
                rule: "check_ip;",
                tip: "输入IP",
                ok: "",
                msg: {required: "必须填写!"}
            },
            "hostname": {
                rule: "required;length[0~53]",
                tip: "填写主机名",
                ok: "",
                msg: {required: "必须填写!"}
            },
            "port": {
                rule: "required",
                tip: "输入端口号",
                ok: "",
                msg: {required: "必须填写!"}
            },
            "username": {
                rule: "required",
                tip: "输入用户名",
                ok: "",
                msg: {required: "必须填写!"}
            },
            "password": {
                rule: "length[0~64]",
                tip: "输入密码",
                ok: "",
                msg: {required: "必须填写!"}
            }
        },
        valid: function(form) {
            form.submit();
        }
    });

</script>
    </script>
</body>
</html>