<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 主机列表 | SshWeb</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet">
    <script src="/static/js/jquery-2.1.1.js"></script>
</head>

<body class="gray-bg container">
    {% include 'head.html' %}
    <div  align="center">
        {% if error %}
        <div class="alert alert-warning text-center">{{ error }}</div>
        {% endif %}
        {% if msg %}
        <div class="alert alert-success text-center">{{ msg }}</div>
        {% endif %}
    </div>
    <hr>
    <div class="search row">
        <div class="col-sm-6 col-xs-6">
           <button type="button" href="{% url 'asset_add' %}" name="asset_add" class="btn btn-sm btn-info asset_add" onclick="return false">
                                        - 添加 -
                                    </button>
           <button type="button" href="{% url 'asset_list' %}?export=true" name="export" class="btn btn-sm btn-success search-btn-excel" onclick="return false">
                                        - 导出 -
                                    </button>
        </div>
        <div class="col-sm-6 col-xs-6">
            <form class="form-horizontal" method="GET">
                <div class="input-group">
                    <input type="text" class="form-control"  name="keyword" value="{{ keyword }}" id="search_input" placeholder="搜索">
                    <span class="input-group-btn">
                        <button class="btn btn-default"  id="search-btn" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                </div>  
            </form>          
        </div>
    </div><hr>
    <div id="export"></div>
    <div class="center table-responsive">
        <table class="table table-condensed">
        <tr class="success">
            <td>主机名</td>
            <td>IP地址</td>
            <td>登录名</td>
            <td>系统类型</td>
            <td>是否激活</td>
            <td>创建时间</td>
            <td>操作</td>
        </tr>
        {% ifequal iters 0 %}
        <tr>
            <td>{{ asset.hostname }}</td>
            <td>{{ asset.ip }}</td>
            <td>{{ asset.username }}</td>
            <td>{{ asset.system_version }}</td>
            <td>{{ asset.is_active }}</td>
            <td>{{ asset.date_add }}</td>
            <td>
                <a href="{% url 'asset_edit' %}?id={{ asset.id }}" class="btn btn-xs btn-info">编辑</a>
                <a value="{{ asset.id }}" class="conn btn btn-xs btn-warning">连接</a>
                <a value="{% url 'asset_del' %}?id={{ asset.id }}" class="btn btn-xs btn-danger asset_del">删除</a>
            </td>
        </tr>
        {% else %}        
        {% for asset in assets.object_list %}
        </tr>
            <td>{{ asset.hostname }}</td>
            <td>{{ asset.ip }}</td>
            <td>{{ asset.username }}</td>
            <td>{{ asset.system_version }}</td>
            <td>{{ asset.is_active }}</td>
            <td>{{ asset.date_add }}</td>
            <td>
                <a href="{% url 'asset_edit' %}?id={{ asset.id }}" class="btn btn-xs btn-info">编辑</a>
                <a value="{{ asset.id }}" class="conn btn btn-xs btn-warning">连接</a>
                <a value="{% url 'asset_del' %}?id={{ asset.id }}" class="btn btn-xs btn-danger asset_del">删除</a>
            </td>
        </tr>
        {% endfor %}
        {% endifequal %}
        </table>
    </div>
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <input type="button" id="asset_update" class="btn btn-info btn-sm"  name="update_button" value="更新"/>
            </div>
            {% include 'paginator.html' %}
        </div>        
        <br>
     

    <script src="/static/js/bootstrap.min.js"></script>

</body>

<script>
$(document).ready(function(){
    
    $('.conn').click(function(){
        var url = '{% url "web_terminal" %}?id=' + $(this).attr('value');
        window.open(url, '_blank');
    });
    $('.asset_add').click(function(){
        var url= $(this).attr("href");
        window.open(url, '_self');
    });

        
    $('.asset_del').click(function(){
        var row = $(this).closest('tr');
        if (confirm("确定删除")) {
            $.get(
                $(this).attr('value'),
                {},
                function(data){
                    row.remove();
                    alert(data);
                }
            )}
        }); 
    $('body').off('click', '.search-btn-excel');
    $('body').on("click", '.search-btn-excel', function(event){
        var url= $(this).attr("href");
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                $("#export").html(data);
            }
        });
    });       
});
</script>
</html>

