<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 主机列表 | SshWeb</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/static/js/editable/editable.css" rel="stylesheet">
    <script src="/static/js/jquery-2.1.1.js"></script>    
</head>

<body class="gray-bg container">
    {% include 'head.html' %}
    <div  align="center">
        {% if error %}
        <div class="alert alert-warning text-center">{{ error }}</div>
        {% endif %}
        {% if msg %}
        <div class="alert alert-success text-center">{{ msg }}</div>
        {% endif %}
    </div>
    <hr>
    <div class="search row">
        <div class="col-sm-6">
           {# <a href="{% url 'user_add' %}" class="btn btn-xs btn-info">增加</a> #}
        </div>
        <div class="col-sm-6">
            <form class="form-horizontal" method="GET">
                <div class="input-group">
                    <input type="text" class="form-control"  name="keyword" value="{{ keyword }}" id="search_input" placeholder="搜索">
                    <span class="input-group-btn">
                        <button class="btn btn-default"  id="search-btn" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                </div>  
            </form>          
        </div>
    </div><hr>
    <div class="center table-responsive">
        <table class="table table-condensed">
        <tr class="success">
            <td>文件ID</td>
            <td>文件名</td>
            <td>大小</td>
            <td>下载</td>
            <td>上传时间</td>
            <td>操作</td>
        </tr>
        {% ifequal iters 0 %}
        <tr>
            <td>{{ files.id }}</td>
            <td>{{ files.file_name }}</td>
            <td>{{ files.size|filesizeformat }} </td>
            <td><a href="/static/files/{{ files.file_path }}" target="_blank" class="alert-link">下载</a></td>
            <td>{{ files.date_add }}</td>
            <td>
                <a value="{% url 'file_del' %}?id={{ files.id }}" class="btn btn-xs btn-danger file_del">删除</a>
        </td>
        </tr>
        {% else %}        
        {% for files in file.object_list %}
        <tr>
            <td>{{ files.id }}</td>
            <td><span class="editable" data-pk="{{ files.id  }}" data-name="{{ files.file_name  }}" data-url="{% url 'file_edit' %}" >{{ files.file_name }}</span></td>
            <td>{{ files.size|filesizeformat }} </td>
            <td><a href="{% url 'download' %}?download={{ files.file_path }}" target="_blank" class="alert-link">下载</a></td>
            <td>{{ files.date_add }}</td>
            <td>
                <a value="{% url 'file_del' %}?id={{ files.id }}" class="btn btn-xs btn-danger file_del">删除</a>
        </td>
        </tr>
        {% endfor %}
        {% endifequal %}
        </table>
     
    </div>
    <div class="row">
            <div class="col-sm-6 col-xs-6">
                {# <input type="button" id="asset_update" class="btn btn-info btn-sm"  name="update_button" value="更新"/> #}
            </div>
            {% include 'paginator.html' %}
        </div>        
        <br>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/editable/editable.js"></script>

</body>

<script>
    $(document).ready(function(){
        $('.file_del').click(function(){
            var row = $(this).closest('tr');
            if (confirm("确定删除")) {
            $.get(
                    $(this).attr('value'),
                    {},
                    function(data){
                        row.remove();
                        alert(data);
                    }
            )}
        });
    });

    $(function(){
    $('.editable').editable({
        emptytext: "empty",
        params: function(params){
            var data = {};
            data['id'] = params.pk
            data['name'] = params.value
            return data;
        },
        success: function(response, newValue){
            var res = $.parseJSON(response);
            if (res.status == 1) {

            }else{
                return res.info;
            }
        }
    });
});
</script>
</html>

