<div class="row app_head" align="center">
<br>
    <div class="col-sm-2 col-xs-2 app">
        <a href="{% url 'index' %}"><i class=" fa fa-home"><br><small>主页</small></i></a>
    </div>
    <div class="col-sm-2 col-xs-2 app">
        <a href="{% url 'asset_list' %}"><i class=" fa fa-database"><br><small>主机列表</small></i></a>
    </div>
    <div class="col-sm-2 col-xs-2 app">
        <a href="{% url 'user_list' %}"><i class=" fa fa-tty"><br><small>ssh列表</small></i></a>
    </div>
    <div class="col-sm-2 col-xs-2 app">
        <a href="{% url 'scrapys_index' %}"><i class=" fa fa-flash"><br><small>爬虫</small></i></a>
    </div>
    <div class="col-sm-2 col-xs-2 app">
        <a href="{% url 'download' %}"><i class=" fa fa-cloud-download"><br><small>文件下载</small></i></a>
    </div>
    <div class="col-sm-2 col-xs-2 app">
        <a href="{% url 'logout' %}"><i class=" fa fa-power-off"><br><small>用户注销</small></i></a>
    </div>
</div>