<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> 增加资产 | SshWeb</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet">
</head>

<body class="gray-bg">

	<div class="asset_add container">
		{% include 'head.html' %}<hr>
		<div  align="center">
		   <h3 class="title">填写资料</h3>

			{% if error %}
			<div class="alert alert-warning text-center">{{ error }}</div>
			{% endif %}
			{% if msg %}
			<div class="alert alert-success text-center">{{ msg }}</div>
			{% endif %}
		</div>

		<form id="asset_form" method="POST">
			<input type="hidden" name="user_id" value="{{ user_id }}">
			<div class="row">
				<label class="col-sm-3 control-label" align="right">IP地址<span class="text-danger">*</span></label>
				<div class="col-sm-7"><input class="form-control" name="ip" placeholder="IP Address"></div>
			</div>
			<br>
			<div class="row">
				<label class="col-sm-3 control-label" align="right">端口号<span class="text-danger">*</span></label>
				<div class="col-sm-7"><input class="form-control" name="port" placeholder="port">
				</div>
			</div>
			<br>
			<div class="row">
				<label class="col-sm-3 control-label" align="right">主机名<span class="text-danger">*</span></label>
				<div class="col-sm-7"><input class="form-control" name="hostname" placeholder="hostname">
				</div>
			</div>
			<br>	
			<div class="row">
				<label class="col-sm-3 control-label" align="right">登录名<span class="text-danger">*</span></label>
				<div class="col-sm-7"><input class="form-control" name="username" placeholder="username"></div>
			</div>
			<br>
			<div class="row">
				<label class="col-sm-3 control-label" align="right">密码<span class="text-danger">*</span></label>
				<div class="col-sm-7"><input class="form-control" name="password" placeholder="password"></div>
			</div>   
			<br>                 
			<div class="row">
				<label class="col-sm-3 control-label" align="right">是否激活<span class="text-danger">*</span></label>
				<div  class="col-sm-7">
					<div class="radio i-checks">
						<label> 
							<input type="radio" checked="" value="1" name="is_active">激活
						</label>
						<label>
							<input type="radio" value="0" name="is_active"> 禁用
						</label>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<label class="col-sm-3 control-label" align="right">备注</label>
				<div class="col-sm-7"><input class="form-control" name="comment" placeholder="comment"></div>
			</div>  
			<br>                                      
			<div class="row">
				<div class="col-sm-3"></div>
					<div class="col-sm-7">
						<div class="btn-group pull-right">
							<button type="submit" class="btn btn-info pull-right add-btn">提交</button>
						</div>
						<div class="btn-group pull-left">
							<button type="reset" class="btn btn-warning">重置</button>
						</div>
					</div>
			</div>
		</form>

	</div>
    <script src="/static/js/jquery-2.1.1.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>