<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1, user-scalable=no">
    <title> 资产列表 | SshWeb</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet">
</head>

<body class="gray-bg container">
{% include 'head.html' %}
    <div  align="center">
        {% if error %}
        <div class="alert alert-warning text-center">{{ error }}</div>
        {% endif %}
        {% if msg %}
        <div class="alert alert-success text-center">{{ msg }}</div>
        {% endif %}
    </div>
    <hr>
    <div class="search row">
        <div class="col-sm-6">
           {# <a href="{% url 'asset_add' %}" class="btn btn-xs btn-info">增加</a> #}
        </div>
        <div class="col-sm-6">
            <form class="form-horizontal" method="GET">
                <div class="input-group">
                    <input type="text" class="form-control"  name="keyword" value="{{ keyword }}" id="search_input" placeholder="搜索">
                    <span class="input-group-btn">
                        <button class="btn btn-default"  id="search-btn" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                </div>  
            </form>          
        </div>
    </div><hr>
    <div class="center table-responsive">
        <table class="table table-condensed">
        <tr class="success">
            <td>所属用户ID</td>
            <td>主机名</td>
            <td>IP地址</td>
            <td>登录名</td>
            <td>是否激活</td>
            <td>创建时间</td>
            <td>操作</td>
        </tr>
        {% ifequal iters 0 %}
        <tr>
            <td>{{ asset.user_id }}</td>
            <td>{{ asset.hostname }}</td>
            <td>{{ asset.ip }}</td>
            <td>{{ asset.username }}</td>
            <td>{{ asset.is_active }}</td>
            <td>{{ asset.date_add }}</td>
            <td>
                <a href="{% url 'host_edit' %}?id={{ asset.id }}" class="btn btn-xs btn-info">编辑</a>
                <a value="{% url 'host_del' %}?id={{ asset.id }}" class="btn btn-xs btn-danger host_del">删除</a>
            </td>
        </tr>
        {% else %}
        {% for a in asset %}
        </tr>
            <td>{{ a.user_id }}</td>
            <td>{{ a.hostname }}</td>
            <td>{{ a.ip }}</td>
            <td>{{ a.username }}</td>
            <td>{{ a.is_active }}</td>
            <td>{{ a.date_add }}</td>
            <td>
                <a href="{% url 'host_edit' %}?id={{ a.id }}" class="btn btn-xs btn-info">编辑</a>
                <a value="{% url 'host_del' %}?id={{ a.id }}" class="btn btn-xs btn-danger host_del">删除</a>
            </td>
        </tr>
        {% endfor %}
        {% endifequal %}
        </table>
     
    </div>

    <script src="/static/js/jquery-2.1.1.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

</body>

<script>
$(document).ready(function(){
       
    $('.host_del').click(function(){
        var row = $(this).closest('tr');
        if (confirm("确定删除")) {
            $.get(
                $(this).attr('value'),
                {},
                function(data){
                    row.remove();
                    alert(data);
                }
            )}
        });    
});
</script>
</html>

